.nav-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  @media screen and (min-width: 768px) {
    gap: 2rem;
  }
}
.nav-link {
  text-decoration: none;
  color: #bdbdbd;
  font-weight: 600;
  font-size: 1rem;
  transition: color 0.3s ease;
  @media screen and (min-width: 768px) {
    font-size: 1.2rem;
  }
  @media screen and (min-width: 1200px) {
    display: block;
    font-size: 1.5rem;
  }
}
.nav-link:hover {
  color: #ffffff;
}
.active {
  color: cadetblue;
}
.container-more-then-tablet {
  display: none;

  @media screen and (min-width: 480px) {
    display: block;
  }
}
.container-less-then-tablet {
  @media screen and (min-width: 480px) {
    display: none;
  }
}
.mat-mdc-button:not(:disabled) {
  color: #bdbdbd;
}
