.header {
  background-color: #e91e63;
  padding: 1rem 2rem;
  h3 {
    font-size: 1rem;
    color: #bdbdbd;
    display: none;
    margin: 0;
    @media screen and (min-width: 480px) {
      display: block;
      font-size: 2rem;
    }
  }
}

.header-container {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #bdbdbd;
  font-weight: 600;
  font-size: 1rem;
  transition: color 0.3s ease;
  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
  }
  @media screen and (min-width: 1200px) {
    display: block;
    font-size: 2rem;
  }
}

.nav-link:hover {
  color: #ffffff;
}

.active {
  color: cadetblue;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  @media screen and (min-width: 768px) {
    gap: 2rem;
  }
}
.mat-mdc-raised-button {
  width: 64px;
  font-size: 0.8rem;
  @media screen and (min-width: 768px) {
    width: 74px;
    font-size: 1rem;
  }
}
