<header class="header">
  <div class="header-container">
    <nav>
      <ul class="nav-list">
        <ng-container *ngIf="!(isLoggedIn$ | async); else loggedIn">
          <li>
            <a class="nav-link" routerLinkActive="active" routerLink="/sign-in"
              >Увійти</a
            >
          </li>
          <li>
            <a class="nav-link" routerLinkActive="active" routerLink="/sign-up"
              >Реєстрація</a
            >
          </li>
        </ng-container>

        <ng-template #loggedIn>
          <li>
            <a
              [routerLinkActiveOptions]="{ exact: true }"
              class="nav-link"
              routerLinkActive="active"
              routerLink="/diary-posts"
              >Щоденник</a
            >
          </li>
          <li>
            <a
              [routerLinkActiveOptions]="{ exact: true }"
              class="nav-link"
              routerLinkActive="active"
              routerLink="/success-diary"
              >Успіх</a
            >
          </li>
          <li>
            <a
              [routerLinkActiveOptions]="{ exact: true }"
              class="nav-link"
              routerLinkActive="active"
              routerLink="/diary/create-post"
              >Додати
            </a>
          </li>
          <li>
            <a class="nav-link" routerLinkActive="active" routerLink="/profile"
              >Профіль</a
            >
          </li>
          <li>
            <button mat-raised-button class="primary" (click)="onLogout()">
              Вийти
            </button>
          </li>
        </ng-template>
      </ul>
    </nav>
    <h3 *ngIf="user">{{ user.name }}</h3>
  </div>
</header>
