<header class="header">
  <div class="header-container">
    <nav>
      <ng-container *ngIf="user$ | async as userData; else publicLinks">
        <ng-container *ngIf="userData">
          <app-header-link-list
            [headerLinks]="headerLinks.private"
          ></app-header-link-list>
        </ng-container>
        <ng-template #loader>
          <app-loader></app-loader>
        </ng-template>
        <button
          *ngIf="userData"
          mat-raised-button
          class="primary"
          (click)="onLogout()"
        >
          Вийти
        </button>
      </ng-container>
    </nav>
    <h3 *ngIf="user$ | async as userData">{{ userData.name }}</h3>
  </div>
</header>
<ng-template #publicLinks>
  <app-header-link-list
    [headerLinks]="headerLinks.public"
  ></app-header-link-list>
</ng-template>
