<div class="calendar-container">
  <div class="calendar">
    <ng-content select="app-scheduler-headline"></ng-content>
    <div class="calendar-grid">
      <ng-container
        *ngFor="let dayOfMonth of daysOfMonth; trackBy: trackByIndex"
      >
        <app-scheduler-cell
          (onSetActiveDay)="onSetActiveDay($event)"
          (scrollToElByClick)="scrollToElByClick()"
          [activeDay]="activeDay | async"
          [isInactiveCell]="getInactiveCell(dayOfMonth.date.month)"
          [dayOfMonth]="dayOfMonth"
        ></app-scheduler-cell>
      </ng-container>
    </div>
  </div>
  <div class="schedule">
    <div class="schedule-headline">
      <div class="date-subtitle" *ngIf="activeDay">
        {{ (activeDay | async)?.toLocaleString(DATE_MED) }}
      </div>
      <app-scheduler-post
        [activeDay]="activeDay | async"
        [activeDayPost]="activeDayPost"
      ></app-scheduler-post>
    </div>
  </div>
</div>
