<ng-container *ngIf="!isUpdate; else updateForm">
  <div class="post-container" *ngIf="diaryPost | async as postDetails">
    <div class="content">
      <img
        [src]="postDetails.imgUrl"
        [alt]="postDetails.imgAlt"
        class="post-image"
      />
      <div class="post-details">
        <h3 class="post-title">{{ postDetails.imgTitle }}</h3>
        <div class="btn_wrap">
          <button mat-raised-button (click)="onUpdatePost(postDetails)">
            Змінити
          </button>
          <button mat-raised-button (click)="onDeletePost()">Видалити</button>
        </div>
      </div>
    </div>
    <div class="describe-wrap">
      <p class="post-description">
        {{ postDetails.userDescribe }}
      </p>
    </div>
  </div>
</ng-container>
<ng-template #updateForm>
  <app-diary-form
    [formGroup]="diaryFormGroup"
    (onSubmit)="onSubmitForm()"
    (hideUpdateForm)="onUpdatePost()"
    [currentPost]="diaryPost | async"
  ></app-diary-form>
</ng-template>
