.container {
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 2rem;
  justify-content: center;
  display: flex;
  padding: 0 3rem;
  gap: 2rem;
  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
}
.content-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  h3 {
    font-size: 18px;
    color: #020202a1;
    margin-top: 0;
    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
  }
  @media screen and (min-width: 1200px) {
    gap: 2rem;

    justify-content: flex-start;
    flex-direction: row;
  }
}
.list-wrap {
  padding: 1rem;
  border-radius: 12px;
  max-width: 350px;
  min-height: 30vh;
  max-height: 45vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #f9f9f9;
  @media screen and (min-width: 768px) {
    min-height: 30vh;
    max-height: 65vh;
  }

  @media screen and (min-width: 1200px) {
    max-width: 400px;
    margin: 0;
    padding: 1.5rem;
  }
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid #e0e0e0;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}
.no-content {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  h3 {
    font-size: 16px;
    color: #020202a1;
    margin: 0;
    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }
  img {
    border-radius: 1rem;
  }
}
