<div class="container">
  <div class="content-wrap">
    <div>
      <mat-form-field class="input-wrap">
        <mat-label>Подробиці пошуку</mat-label>
        <input type="text" matInput (keyup)="onSearch($event)" />
      </mat-form-field>
      <hr />
      <h3 class="list-title">Дописи :</h3>

      <ng-template [apploading]="(loading$ | async) ?? false">
        <ng-container *ngIf="diaryPosts$ | async as posts; else noContent">
          <ng-container *ngIf="posts.length; else noContent">
            <div class="list-wrap">
              <app-diary-list
                [posts]="posts"
                (scrollToElByClick)="scrollToElByClick()"
              ></app-diary-list>
            </div>
          </ng-container>
        </ng-container>
      </ng-template>

      <ng-template #noContent>
        <h3>Нажаль дописів не знайдено.</h3>
      </ng-template>

      <div class="pagination-wrap">
        <mat-paginator
          [length]="diaryTotalLength$ | async"
          [pageSize]="pageSize"
          [pageIndex]="pageIndex"
          [pageSizeOptions]="[5, 10]"
          aria-label="Select page"
          (page)="getProductsWithPagination($event)"
        >
        </mat-paginator>
      </div>
    </div>

    <div class="outlet-wrap" #scrollTarget>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
