.container {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  gap: 2rem;
  @media screen and (min-width: 1200px) {
    margin-bottom: 2rem;
    justify-content: flex-start;
  }
}
.mdc-text-field-wrapper {
  background-color: transparent;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .list-title {
    font-size: 18px;
    color: #020202a1;
    margin-top: 0;
    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
  }
  @media screen and (min-width: 920px) {
    gap: 2rem;
    flex-direction: row;
    justify-content: flex-start;
  }
}
.list-wrap {
  padding: 0.8rem;
  border-radius: 12px;
  max-width: 380px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  margin: 0 auto;
  overflow-x: hidden;
  border: 2px solid #f9f9f9;

  @media screen and (min-width: 1200px) {
    max-width: 400px;
    margin: 0;
  }
}
.mat-mdc-paginator {
  background-color: transparent !important;
}
.no-content {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  h3 {
    font-size: 16px;

    color: #020202a1;
    text-align: center;
    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }
}
.pagination-wrap {
  padding: 0.5rem;
}
