h2 {
  font-size: 2rem;
  text-align: left;
  margin-top: 0;
  color: #000000;
}

.auth-form {
  max-width: 600px;

  display: flex;
  flex-direction: column;
}
.file-controller {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;

  cursor: pointer;
}
.custom-file-upload {
  margin-bottom: 1rem;
}
.product-form img {
  border-radius: 1rem;
  margin-top: 1rem;
  display: block;
  width: 160px;
  height: 100px;
}
.form-error {
  margin-bottom: 1rem;
}
.no-img-block {
  border-radius: 1rem;
  margin-top: 1rem;
  border: 1px solid #bdbdbd;
  display: block;
  width: 160px;
  height: 100px;
}
.file-error {
  margin-top: 8px;
  font-weight: 500;
  padding-left: 1rem;
  color: red;
}
