<div style="margin: 0 auto">
  <h2>{{ titleName }}</h2>

  <form
    action=""
    class="auth-form"
    [formGroup]="formGroup"
    (ngSubmit)="onSubmit()"
  >
    @if(formGroup.get('name')){
    <mat-form-field appearance="fill">
      <mat-label> Ім'я </mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
    }

    <mat-form-field appearance="fill">
      <mat-label>Пошта</mat-label>
      <input matInput type="text" formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Пароль</mat-label>
      <input matInput type="text" formControlName="password" />
    </mat-form-field>
    @if( formGroup.errors){

    <div class="form-error" matError>{{ errorMessage }}</div>
    }

    <button
      *ngIf="!(loading$ | async); else loading"
      mat-raised-button
      color="primary"
      type="submit"
    >
      <span>Підтвердити</span>
    </button>
  </form>
</div>
<ng-template #loading>
  <button mat-stroked-button disabled>
    <mat-spinner diameter="20"> </mat-spinner>
  </button>
</ng-template>
