.user-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 0 auto;
}
.card-btn {
  margin-top: 1rem;
  border-radius: 0.5rem;

  width: 140px;
  max-width: 200px;
  padding: 8px;
  font-size: 14px;
  outline: none;

  font-weight: 600;
  border: none;
  color: #111111;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
}
.card-btn:hover {
  font-size: 16px;
}
