<div
  class="user-card"
  *apploading="((isLoading$ | async) ?? false) && !!(user$ | async)"
>
  <ng-container *ngIf="!isUpdate; else updateMode">
    <app-profile-content
      (onShowPassword)="onShowPassword()"
      (onToggleUpdateInfo)="onToggleUpdateInfo($event)"
      [isUpdate]="isUpdate"
      [isShow]="isShow"
      [user]="user$ | async"
    >
    </app-profile-content>
  </ng-container>
</div>
<ng-template #updateMode>
  <app-auth-form
    [titleName]="formTitle"
    (onSubmitForm)="onSubmitForm()"
    [formGroup]="userFormGroup"
  ></app-auth-form>
  <button class="card-btn" (click)="onToggleUpdateInfo()">Відмінити</button>
</ng-template>
