<div class="diary-form">
  <img [src]="currentPost.imgUrl" [alt]="currentPost.imgAlt" />
  <div>
    <form
      class="form-group"
      [formGroup]="formGroup"
      (ngSubmit)="onSubmitForm()"
    >
      <div>
        <label for="userDescribe">{{ currentPost.imgTitle }}</label>
        <textarea
          placeholder="Як ти став сьогодні таким котиком ?"
          formControlName="userDescribe"
          id="userDescribe"
        ></textarea>
      </div>
      <div class="button-wrapper">
        <app-form-loader [title]="'Додати'"></app-form-loader>
        <button
          *ngIf="!isDiaryRoute"
          style="margin-left: 8px"
          mat-stroked-button
          color="error"
          (click)="onUpdatePost()"
        >
          Повернутись
        </button>
      </div>
    </form>
  </div>
</div>
