.mat-form-field {
  width: 100%;
  display: block;
  margin-bottom: 16px;
}

.mat-label {
  font-weight: bold;
  color: #1976d2;
}

.mat-input-element {
  font-size: 16px;
  color: #333;
  padding: 8px;
}

.mat-datepicker-toggle .mat-icon {
  color: #1976d2;
}

.mat-form-field-underline {
  background-color: #1976d2;
}

.mat-form-field-wrapper {
  padding-bottom: 2px;
}
