<div class="calendar-container">
  <mat-form-field appearance="fill">
    <mat-label>{{ selected | date : "dd/MM/yyyy" }}</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      (dateChange)="onDateChange($event.value)"
      [value]="selected | date : 'dd/MM/yyyy'"
      [max]="today"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker
      #picker
      startView="month"
      panelClass="custom-datepicker"
    ></mat-datepicker>
  </mat-form-field>
</div>
