.schedule-title {
  margin: 0;
  font-size: 1rem;
  color: #333;
  text-align: center;
  @media (min-width: 768px) {
    font-size: 1rem;
  }
  @media (min-width: 1024px) {
    font-size: 1.5rem;
  }
}

.schedule-img {
  min-width: 130px;
  max-width: 200px;
  min-height: 130px;
  max-height: 160px;
  margin: 0 auto 1rem auto;
  display: block;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

  @media (min-width: 768px) {
    min-height: 150px;
    max-width: 400px;
  }
  @media (min-width: 1200px) {
    width: 100%;
    min-height: 150px;
    max-width: 400px;
  }
}
.schedule-container {
  margin: 0 auto;
  max-width: 600px;
}
.schedule-description {
  font-size: 1rem;
  max-height: 80px;
  min-height: 60px;
  margin-top: 1rem;
  padding: 1rem;
  line-height: 1.6;
  overflow: auto;

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  color: #666;
  text-align: justify;
  @media (min-width: 768px) {
    font-size: 0.5rem;
  }
  @media (min-width: 1024px) {
    font-size: 1rem;
  }
}

.no-post {
  text-align: center;
  color: #999;
  font-size: 1.2rem;
}
