.container {
  margin: 0 auto;
  max-width: 1200px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  @media screen and (min-width: 840px) {
    margin-bottom: 2rem;
    gap: 2rem;
    flex-wrap: nowrap;
  }
}

ul {
  gap: 1rem;
  max-width: 800px;
  margin: 0% auto;
  margin-top: 1rem;

  display: flex;
  overflow: hidden;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  li {
    transition: all 0.3s linear;
    cursor: pointer;
  }
}
.mat-stepper-vertical,
.mat-stepper-horizontal {
  background-color: transparent;
}

.mat-mdc-raised-button {
  width: 150px;
}
.mat-mdc-outlined-button {
  width: 150px;
}
img {
  display: block;
  width: 90px;
  margin: 0 auto;
  border-radius: 1rem;
  height: 70px;
  @media screen and (min-width: 768px) {
    width: 150px;
    height: 120px;
  }
  @media screen and (min-width: 1200px) {
    height: 160px;
    width: 200px;
  }
}

.title-wrap {
  text-align: center;
  h2 {
    margin-top: 0;
    color: #000;
  }
  p {
    font-weight: 600;
    margin-bottom: 0;
  }
}
.currantImage {
  box-shadow: 0px 0px 10px 4px violet;
  transform: scale(1.05);
  border-radius: 1rem;
}
textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #ccc;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  resize: none;
}
.img-preview {
  width: 260px;
  height: 210px;
  margin-bottom: 1rem;
  border-radius: 10px;

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  @media screen and (min-width: 768px) {
    height: 250px;
    width: 320px;
  }
}
textarea:focus {
  border-color: #7d4cdb;
  box-shadow: 0 0 8px rgba(125, 76, 219, 0.3);
  outline: none;
}
