.container {
  margin: 0 auto;
  max-width: 1200px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  @media screen and (min-width: 840px) {
    margin-bottom: 2rem;
    gap: 2rem;
    flex-wrap: nowrap;
  }
}

.mat-stepper-vertical,
.mat-stepper-horizontal {
  background-color: transparent;
}

.mat-mdc-raised-button {
  width: 130px;
}
.mat-mdc-outlined-button {
  width: 130px;
}
img {
  display: block;
  width: 90px;
  margin: 0 auto;
  border-radius: 1rem;
  height: 70px;
  @media screen and (min-width: 768px) {
    width: 120px;
    height: 100px;
  }
  @media screen and (min-width: 1200px) {
    height: 140px;
    width: 170px;
  }
}

.title-wrap {
  text-align: center;
  h2 {
    margin-top: 0;
    color: #000;
  }
  p {
    font-weight: 600;
    margin-bottom: 0;
  }
}
