<form
  action=""
  [formGroup]="formGroup"
  class="product-form"
  (ngSubmit)="onSubmitForm()"
>
  <mat-form-field appearance="fill">
    <mat-label>Product Name</mat-label>
    <input matInput type="text" formControlName="name" />
  </mat-form-field>
  <div class="custom-file-upload">
    <div>
      <button mat-stroked-button (change)="onFileSelected($event)">
        <input type="file" class="file-controller" id="file-upload" />
        Choose photo
      </button>
      @if(imagePreview!==''&&imagePreview||imgLoader){
      <img [src]="imagePreview || imgLoader" alt="product" />
      }@else{
      <div class="no-img-block"></div>
      }
    </div>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Product Content</mat-label>
    <input matInput type="text" formControlName="content" />
  </mat-form-field>
  @if(errorMessage){

  <div class="form-error" matError>{{ errorMessage }}</div>
  }
  <button mat-raised-button color="primary" type="submit">
    <span>Submit</span>
  </button>
</form>
